# Data Cleanup

## Setup

### Import Packages

In [84]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from collections import OrderedDict
from datetime import datetime, date
from os import environ
import json

# Set ipython's max row display
pd.set_option('display.max_row', 1000)
# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

sns.set_style("darkgrid")
plt.rcParams['figure.figsize'] = [10, 5]

### Global Variables

## Importing Dataset

### Combined dataset

In [85]:
read_name = "../data/bronze_tables/combined_dataset.csv"

df_combined = pd.read_csv(read_name)

C:\Users\arahm\AppData\Local\Temp\ipykernel_27200\399399036.py:3: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_combined = pd.read_csv(read_name)

In [86]:
df_combined.head()

,Unnamed: 0,Entity_x,Code,Year,Annual CO2 emissions,Entity_y,Fossil fuels (% growth),Entity_x.1,Annual change in primary energy consumption (%),Entity_y.1,Gas Consumption - TWh,Coal Consumption - TWh,Oil Consumption - TWh,Entity_x.2,Fossil fuels (TWh),Entity_y.2,Coal Production - TWh,Oil Production - TWh,Gas Production - TWh,Entity_x.3,Fossil fuels per capita (kWh),Entity_y.3,Fossil fuels (% equivalent primary energy),Entity_x.4,"Gas (TWh, direct energy)","Oil (TWh, direct energy)","Coal (TWh, direct energy)",Entity_y.4,Geo Biomass Other - TWh,Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,Entity_x.5,prod of Electricity from wind (TWh),prod of Electricity from hydro (TWh),prod of Electricity from solar (TWh),prod of Other renewables including bioenergy (TWh),Entity_y.5,Per capita electricity (kWh),Entity_x.6,Renewables per capita (kWh - equivalent),Entity_y.6,Renewables (% electricity)
0,0,Afghanistan,AFG,1949,14656.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Afghanistan,AFG,1950,84272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afghanistan,AFG,1951,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Afghanistan,AFG,1952,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Afghanistan,AFG,1953,106256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df_combined = df_combined[df_combined.columns[1:]]

In [144]:
df_combined["Country"].value_counts(dropna=False)

World                                                            271
United Kingdom                                                   271
Canada                                                           236
Germany                                                          229
Poland                                                           221
United States                                                    221
France                                                           213
Austria                                                          203
Belgium                                                          192
Spain                                                            191
Norway                                                           189
Hungary                                                          188
Sweden                                                           183
Denmark                                                          178
Netherlands                                                      175
Lithuania                                                        169
Tajikistan                                                       169
Uzbekistan                                                       169
Latvia                                                           169
Turkmenistan                                                     169
Ukraine                                                          169
Kyrgyzstan                                                       169
Estonia                                                          169
Georgia                                                          169
Belarus                                                          169
Kazakhstan                                                       169
Russia                                                           169
Azerbaijan                                                       169
Moldova                                                          169
Armenia                                                          169
Romania                                                          163
Switzerland                                                      163
Italy                                                            161
Czechia                                                          161
Slovakia                                                         161
Australia                                                        161
Finland                                                          161
Turkey                                                           156
Japan                                                            153
India                                                            152
Portugal                                                         151
New Zealand                                                      143
Bulgaria                                                         140
Greece                                                           140
Peru                                                             137
South Africa                                                     137
Argentina                                                        134
Indonesia                                                        132
Mexico                                                           130
Malaysia                                                         130
Vietnam                                                          129
Chile                                                            126
North Macedonia                                                  125
Montenegro                                                       125
Slovenia                                                         125
Taiwan                                                           125
Bosnia and Herzegovina                                           125
Croatia                                                          125
Serbia                                                           125
Brazil                                                           120
China                                                            120
Zimbabwe                                                         118
North Korea                                                      112
South Korea                                                      112
Trinidad and Tobago                                              112
Philippines                                                      111
Iran                                                             111
Venezuela                                                        110
Egypt                                                            110
Ireland                                                          110
Nigeria                                                          106
Algeria                                                          105
Ecuador                                                          104
Democratic Republic of Congo                                     101
Colombia                                                         100
Bonaire Sint Eustatius and Saba                                   94
Mozambique                                                        94
Aruba                                                             94
Sint Maarten (Dutch part)                                         94
Curacao                                                           94
Morocco                                                           93
Bolivia                                                           93
Myanmar                                                           93
Tunisia                                                           93
Iraq                                                              93
Israel                                                            91
Syria                                                             90
Lebanon                                                           89
Uruguay                                                           89
Albania                                                           88
Bahrain                                                           88
Brunei                                                            88
Thailand                                                          87
Saudi Arabia                                                      83
Iceland                                                           82
Barbados                                                          82
Cuba                                                              80
Guatemala                                                         80
Nicaragua                                                         78
Madagascar                                                        78
Hong Kong                                                         77
Luxembourg                                                        76
Ethiopia                                                          76
Pakistan                                                          75
Bangladesh                                                        75
Dominican Republic                                                74
Panama                                                            73
Kuwait                                                            73
Afghanistan                                                       72
Qatar                                                             72
Somalia                                                           71
Mauritius                                                         71
Saint Vincent and the Grenadines                                  71
Rwanda                                                            71
Reunion                                                           71
Nepal                                                             71
Samoa                                                             71
Papua New Guinea                                                  71
Mongolia                                                          71
Martinique                                                        71
Sierra Leone                                                      71
Singapore                                                         71
New Caledonia                                                     71
Paraguay                                                          71
Guinea-Bissau                                                     71
South Sudan                                                       71
Uganda                                                            71
Faeroe Islands                                                    71
Togo                                                              71
Tonga                                                             71
Equatorial Guinea                                                 71
El Salvador                                                       71
Djibouti                                                          71
Cyprus                                                            71
Costa Rica                                                        71
Cape Verde                                                        71
French Guiana                                                     71
Cameroon                                                          71
Burundi                                                           71
Bermuda                                                           71
Belize                                                            71
Bahamas                                                           71
Yemen                                                             71
Zambia                                                            71
Angola                                                            71
Malta                                                             71
Fiji                                                              71
Tanzania                                                          71
Gambia                                                            71
Sri Lanka                                                         71
Malawi                                                            71
Sudan                                                             71
Suriname                                                          71
Libya                                                             71
Liberia                                                           71
Kenya                                                             71
Jordan                                                            71
Jamaica                                                           71
Honduras                                                          71
Haiti                                                             71
Guyana                                                            71
Saint Lucia                                                       71
Guadeloupe                                                        71
Grenada                                                           71
Greenland                                                         71
Ghana                                                             71
Saint Pierre and Miquelon                                         71
Dominica                                                          70
Sao Tome and Principe                                             70
Solomon Islands                                                   69
Eswatini                                                          69
Macao                                                             67
Cambodia                                                          66
Palau                                                             66
Laos                                                              66
French Polynesia                                                  66
Antigua and Barbuda                                               64
Niger                                                             63
Guinea                                                            63
Burkina Faso                                                      63
Senegal                                                           63
Cote d'Ivoire                                                     63
Benin                                                             63
Chad                                                              62
Central African Republic                                          62
Gabon                                                             62
Comoros                                                           62
United Arab Emirates                                              62
Mauritania                                                        62
Congo                                                             62
Mali                                                              62
Kiribati                                                          60
British Virgin Islands                                            59
Vanuatu                                                           59
Montserrat                                                        59
Seychelles                                                        58
Nauru                                                             57
Oman                                                              57
Cook Islands                                                      52
Bhutan                                                            51
Niue                                                              51
Maldives                                                          50
Botswana                                                          49
Saint Helena                                                      41
Saint Kitts and Nevis                                             40
Eritrea                                                           33
Tuvalu                                                            31
Turks and Caicos Islands                                          31
Anguilla                                                          31
Palestine                                                         31
Lesotho                                                           31
Liechtenstein                                                     31
Andorra                                                           31
Mayotte                                                           31
Namibia                                                           30
Marshall Islands                                                  29
Micronesia (country)                                              29
Antarctica                                                        21
Wallis and Futuna                                                 20
Timor                                                             19
Christmas Island                                                  14
Kosovo                                                            13
<generator object <listcomp>.<genexpr> at 0x0000022B91235DD0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235BA0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235C10>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235C80>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235CF0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235350>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235D60>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235E40>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B120>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235EB0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235F20>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235F90>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B040>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B0B0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235AC0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235B30>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235740>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235A50>      1
<generator object <listcomp>.<genexpr> at 0x0000022B912355F0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B200>      1
<generator object <listcomp>.<genexpr> at 0x0000022B912353C0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235430>      1
<generator object <listcomp>.<genexpr> at 0x0000022B912354A0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235510>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235580>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235660>      1
<generator object <listcomp>.<genexpr> at 0x0000022B912359E0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B912356D0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B912357B0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235820>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235890>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235900>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235970>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B190>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BCF0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B270>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B2E0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BB30>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BBA0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BC10>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BC80>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91235270>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BD60>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BDD0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BE40>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BEB0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BF20>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BF90>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91241040>      1
<generator object <listcomp>.<genexpr> at 0x0000022B912410B0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91241120>      1
<generator object <listcomp>.<genexpr> at 0x0000022B91241190>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BAC0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123BA50>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B9E0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B5F0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B350>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B3C0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B430>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B4A0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B510>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B580>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B660>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B970>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B6D0>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B740>      1
<generator object <listcomp>.<genexpr> at 0x0000022B9123B7B0>      1

In [5]:
df = df_combined.copy()

#### Drop Duplicate Columns

In [6]:
cols = list(df.columns)
unique_cols = {}

for col in cols:
    unique_cols[col] = col.split('_', 1)[0]

In [7]:
df = df.rename(columns = unique_cols)

In [8]:
df = df.loc[:,~df.columns.duplicated()]

### Income Level Lookup table

In [10]:
read_name = "../data/bronze_tables/income_level_lookup.xlsx"

df_income_lookup = pd.read_excel(read_name, skiprows=0)

df_income_lookup.head()

,Economy,Code,Region,Income group,Lending category,Other (EMU or HIPC)
0,Aruba,ABW,Latin America & Caribbean,High income,NaN,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA,HIPC
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,NaN
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,NaN
4,Andorra,AND,Europe & Central Asia,High income,NaN,NaN

In [11]:
df_income_lookup = df_income_lookup[df_income_lookup.columns[:5]]

#### join with combined_df

In [15]:
df_income_lookup = df_income_lookup.rename(columns={'Economy': 'Entity'})
df = df.set_index('Code').join(df_income_lookup.set_index('Code'), lsuffix="_" ).reset_index()

In [27]:
df.query("Year == 2020")[df["Income group"].isnull()]

C:\Users\arahm\AppData\Local\Temp\ipykernel_27200\2440540158.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.query("Year == 2020")[df["Income group"].isnull()]

,Code,Entity_,Year,Annual CO2 emissions,Fossil fuels (% growth),Annual change in primary energy consumption (%),Gas Consumption - TWh,Coal Consumption - TWh,Oil Consumption - TWh,Fossil fuels (TWh),Coal Production - TWh,Oil Production - TWh,Gas Production - TWh,Fossil fuels per capita (kWh),Fossil fuels (% equivalent primary energy),"Gas (TWh, direct energy)","Oil (TWh, direct energy)","Coal (TWh, direct energy)",Geo Biomass Other - TWh,Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,prod of Electricity from wind (TWh),prod of Electricity from hydro (TWh),prod of Electricity from solar (TWh),prod of Other renewables including bioenergy (TWh),Per capita electricity (kWh),Renewables per capita (kWh - equivalent),Renewables (% electricity),Entity,Region,Income group,Lending category
268,AIA,Anguilla,2020,1.234260e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1895,BES,Bonaire Sint Eustatius and Saba,2020,3.006540e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4320,COK,Cook Islands,2020,7.942300e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.010000,0.000000,2346.041016,NaN,25.000000,NaN,NaN,NaN,NaN
6107,ESH,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
6818,FLK,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.010000,0.000000,0.000000,0.000000,5313.496094,NaN,50.000000,NaN,NaN,NaN,NaN
7863,GLP,Guadeloupe,2020,2.561883e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050000,0.030000,0.100000,0.360000,3993.438721,NaN,34.177216,NaN,NaN,NaN,NaN
8511,GUF,French Guiana,2020,7.283790e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.440000,0.050000,0.010000,3333.585449,NaN,51.546391,NaN,NaN,NaN,NaN
13472,MSR,Montserrat,2020,2.531800e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,2209.456543,NaN,0.000000,NaN,NaN,NaN,NaN
13543,MTQ,Martinique,2020,2.348393e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.010000,0.000000,0.000000,0.130000,4130.680664,NaN,9.150327,NaN,NaN,NaN,NaN
13847,MYT,Mayotte,2020,3.055840e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14247,NIU,Niue,2020,1.134600e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
14968,OWID_KOS,Kosovo,2020,7.890151e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.090000,0.260000,0.010000,0.000000,4010.290039,NaN,5.373135,NaN,NaN,NaN,NaN
15044,OWID_USS,NaN,2020,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15317,OWID_WRL,World,2020,3.480726e+10,-5.385285,-3.985941,38455.726562,41963.964844,48380.710938,128800.398438,44068.472656,48508.015625,38615.152344,16523.912109,82.211304,38455.726562,48380.710938,41963.964844,703.916443,846.229370,1596.428223,4345.990234,1596.428223,4345.990234,846.229370,703.916443,3429.322021,2.704402,27.864630,NaN,NaN,NaN,NaN
16704,REU,Reunion,2020,4.587948e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.010000,0.490000,0.250000,0.510000,3090.322021,NaN,42.567566,NaN,NaN,NaN,NaN
17442,SHN,Saint Helena,2020,9.494000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
17796,SPM,Saint Pierre and Miquelon,2020,5.063600e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,8431.703125,NaN,0.000000,NaN,NaN,NaN,NaN
21098,VEN,Venezuela,2020,8.460948e+07,-16.817015,-7.849479,215.610870,0.201019,157.827469,373.639343,2.417411,380.320557,215.610870,13139.684570,69.860580,NaN,NaN,NaN,0.011100,0.003088,0.083518,61.277908,0.083518,61.277908,0.003088,0.011100,2615.871338,5.668755,82.353119,"Venezuela, RB",Latin America & Caribbean,NaN,IBRD
21407,WLF,Wallis and Futuna,2020,2.647400e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24201,NaN,Africa,2020,1.326044e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24202,NaN,Asia,2020,2.031706e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24203,NaN,Asia (excl. China & India),2020,7.207379e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24204,NaN,Europe,2020,4.946034e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24205,NaN,Europe (excl. EU-27),2020,2.347459e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24206,NaN,Europe (excl. EU-28),2020,2.017880e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24207,NaN,European Union (27),2020,2.598575e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24208,NaN,European Union (28),2020,2.928154e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24209,NaN,High-income countries,2020,1.182882e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24210,NaN,International transport,2020,1.004233e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24211,NaN,Low-income countries,2020,1.568181e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24212,NaN,Lower-middle-income countries,2020,5.825887e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24213,NaN,North America,2020,5.775159e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24214,NaN,North America (excl. USA),2020,1.062388e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24215,NaN,Oceania,2020,4.445712e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24216,NaN,South America,2020,9.941603e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24217,NaN,Upper-middle-income countries,2020,1.589592e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Population & Area

In [28]:
read_name = "../data/bronze_tables/API_EN.POP.DNST_DS2_en_csv_v2_4701323.csv"

df_population = pd.read_csv(read_name, skiprows=4)

df_population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.966667,312.411111,314.994444,316.827778,318.650000,320.566667,322.466667,324.316667,326.300000,328.166667,330.233333,332.494444,334.644444,336.261111,336.961111,336.588889,335.366667,333.900000,333.177778,333.872222,...,484.888889,494.494444,504.811111,516.066667,527.733333,538.977778,548.577778,555.711111,560.166667,562.366667,563.122222,563.622222,564.805556,566.944444,569.805556,573.138889,576.533333,579.661111,582.583333,585.338889,588.033333,590.611111,593.144444,NaN,NaN
1,Africa Eastern and Southern,AFE,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,9.206929,9.444024,9.690214,9.945378,10.209576,10.482895,10.765896,11.059617,11.365371,11.684171,12.016528,12.362473,12.721761,13.094008,13.478945,13.876693,14.287579,14.711372,15.148660,15.599232,...,25.947604,26.625607,27.321141,28.035481,28.769895,29.526360,30.001659,30.801413,31.628679,32.483559,33.367205,34.279582,35.219737,36.189915,36.879528,37.898051,38.940522,40.004465,41.089451,42.195162,43.319881,44.462045,45.620592,NaN,NaN
2,Afghanistan,AFG,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.058547,14.337645,14.631648,14.940699,15.265041,15.600080,15.945197,16.308762,16.702347,17.131463,17.594177,18.078319,18.565480,19.031569,19.455045,19.844369,20.194247,20.454746,20.561857,20.478206,...,30.261978,30.925972,31.859861,33.127872,34.651540,36.307546,37.910996,39.333171,40.527204,41.550591,42.503842,43.534959,44.747269,46.176059,47.776671,49.475786,51.164166,52.762987,54.249311,55.649251,56.992046,58.325678,59.684990,NaN,NaN
3,Africa Western and Central,AFW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,10.877837,11.109940,11.351399,11.601453,11.859717,12.126330,12.402029,12.687791,12.984878,13.294421,13.616671,13.952068,14.302085,14.669124,15.053820,15.456176,15.876543,16.313802,16.766255,17.232596,...,28.002263,28.761516,29.540244,30.338334,31.157344,32.000505,32.872024,33.774930,34.710713,35.678698,36.677028,37.702723,38.753638,39.829118,40.929916,42.056948,43.211639,44.394917,45.607045,46.847251,48.114080,49.405535,50.720207,NaN,NaN
4,Angola,AGO,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.436874,4.498676,4.555554,4.600140,4.628678,4.637286,4.631780,4.629801,4.655231,4.724761,4.845784,5.012405,5.211585,5.423617,5.634069,5.839119,6.043005,6.249117,6.463553,6.690695,...,12.320205,12.727096,13.151101,13.592487,14.052633,14.535555,15.046232,15.588036,16.162593,16.768557,17.402451,18.059096,18.734457,19.427817,20.139508,20.867720,21.610470,22.366552,23.135062,23.916555,24.713072,25.527632,26.362612,NaN,NaN

In [39]:
read_name = "../data/bronze_tables/API_AG.LND.TOTL.K2_DS2_en_csv_v2_4701206.csv"

df_area = pd.read_csv(read_name, skiprows=4)

df_area.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Land area (sq. km),AG.LND.TOTL.K2,NaN,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,...,180.0,180.0,180.0,180.0,180.0,180.0,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,180.00,1.800000e+02,1.800000e+02,180.00,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,NaN,NaN
1,Africa Eastern and Southern,AFE,Land area (sq. km),AG.LND.TOTL.K2,NaN,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,...,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,1.472019e+07,1.472024e+07,1.472023e+07,1.472027e+07,14720236.89,1.472027e+07,1.472096e+07,14721240.05,1.484517e+07,1.484513e+07,1.484509e+07,1.484514e+07,1.484515e+07,1.484514e+07,1.484515e+07,1.484516e+07,1.484512e+07,NaN,NaN
2,Afghanistan,AFG,Land area (sq. km),AG.LND.TOTL.K2,NaN,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,...,652230.0,652230.0,652230.0,652230.0,652230.0,652230.0,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,652230.00,6.522300e+05,6.522300e+05,652230.00,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,NaN,NaN
3,Africa Western and Central,AFW,Land area (sq. km),AG.LND.TOTL.K2,NaN,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,9046180.0,9045780.0,9045780.0,9045780.0,9045780.0,9045780.0,9045780.0,...,9045780.0,9045780.0,9045780.0,9045780.0,9045780.0,9045780.0,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9045780.00,9.045780e+06,9.045780e+06,9045780.00,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045773e+06,NaN,NaN
4,Angola,AGO,Land area (sq. km),AG.LND.TOTL.K2,NaN,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,...,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1246700.00,1.246700e+06,1.246700e+06,1246700.00,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,NaN,NaN

In [40]:
df_pop_area = pd.concat([df_population, df_area])

df_pop_area = df_pop_area[df_population.columns[:-2]].drop(['Indicator Code'], axis=1)

In [41]:
df_pop_area.head(2)

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Population density (people per sq. km of land ...,NaN,307.966667,312.411111,314.994444,316.827778,318.650000,320.566667,322.466667,324.316667,326.300000,328.166667,330.233333,332.494444,334.644444,336.261111,336.961111,336.588889,335.366667,333.900000,333.177778,333.872222,336.450000,...,462.283333,474.722222,484.888889,494.494444,504.811111,516.066667,527.733333,538.977778,548.577778,555.711111,560.166667,562.366667,563.122222,563.622222,564.805556,566.944444,569.805556,573.138889,576.533333,579.661111,582.583333,585.338889,588.033333,590.611111,593.144444
1,Africa Eastern and Southern,AFE,Population density (people per sq. km of land ...,NaN,9.206929,9.444024,9.690214,9.945378,10.209576,10.482895,10.765896,11.059617,11.365371,11.684171,12.016528,12.362473,12.721761,13.094008,13.478945,13.876693,14.287579,14.711372,15.148660,15.599232,16.062631,...,24.633762,25.284822,25.947604,26.625607,27.321141,28.035481,28.769895,29.526360,30.001659,30.801413,31.628679,32.483559,33.367205,34.279582,35.219737,36.189915,36.879528,37.898051,38.940522,40.004465,41.089451,42.195162,43.319881,44.462045,45.620592

In [42]:
df_pop_area = df_pop_area.melt(
    id_vars=df_pop_area.columns[:3], 
    value_vars=df_pop_area.columns[3:],
    var_name='Year'
).reset_index(drop=True)

df_pop_area.head()

,Country Name,Country Code,Indicator Name,Year,value
0,Aruba,ABW,Population density (people per sq. km of land ...,1960,NaN
1,Africa Eastern and Southern,AFE,Population density (people per sq. km of land ...,1960,NaN
2,Afghanistan,AFG,Population density (people per sq. km of land ...,1960,NaN
3,Africa Western and Central,AFW,Population density (people per sq. km of land ...,1960,NaN
4,Angola,AGO,Population density (people per sq. km of land ...,1960,NaN

In [43]:
df_pop_area = df_pop_area.pivot(['Country Code', 'Year'], 'Indicator Name', 'value').reset_index()

C:\Users\arahm\AppData\Local\Temp\ipykernel_27200\2938234318.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  df_pop_area = df_pop_area.pivot(['Country Code', 'Year'], 'Indicator Name', 'value').reset_index()

In [44]:
df_pop_area['Year'] = df_pop_area['Year'].astype(np.number)

#### join with combined_df

In [45]:
df_pop_area = df_pop_area.rename(columns={'Country Name': 'Entity'})

In [46]:
df_pop_area.head()

Indicator Name,Country Code,Year,Land area (sq. km),Population density (people per sq. km of land area)
0,ABW,1960.0,NaN,NaN
1,ABW,1961.0,180.0,307.966667
2,ABW,1962.0,180.0,312.411111
3,ABW,1963.0,180.0,314.994444
4,ABW,1964.0,180.0,316.827778

In [72]:
df_pop_area["Country Code"].value_counts(dropna=False)

ABW    61
OMN    61
MWI    61
MYS    61
NAC    61
NAM    61
NCL    61
NER    61
NGA    61
NIC    61
NLD    61
NOR    61
NPL    61
NRU    61
NZL    61
OED    61
OSS    61
PYF    61
PAK    61
PAN    61
PER    61
PHL    61
PLW    61
PNG    61
POL    61
PRE    61
PRI    61
PRK    61
PRT    61
PRY    61
PSE    61
PSS    61
MUS    61
MRT    61
MOZ    61
MNP    61
LDC    61
LIC    61
LIE    61
LKA    61
LMC    61
LMY    61
LSO    61
LTE    61
LTU    61
LUX    61
LVA    61
MAC    61
MAF    61
MAR    61
MCO    61
MDA    61
MDG    61
MDV    61
MEA    61
MEX    61
MHL    61
MIC    61
MKD    61
MLI    61
MLT    61
MMR    61
MNA    61
MNE    61
MNG    61
PST    61
QAT    61
AFE    61
UMC    61
TKM    61
TLA    61
TLS    61
TMN    61
TON    61
TSA    61
TSS    61
TTO    61
TUN    61
TUR    61
TUV    61
TZA    61
UGA    61
UKR    61
URY    61
ROU    61
USA    61
UZB    61
VCT    61
VEN    61
VGB    61
VIR    61
VNM    61
VUT    61
WLD    61
WSM    61
XKX    61
YEM    61
ZAF    61
ZMB    61
TJK    61
THA    61
TGO    61
TEC    61
RUS    61
RWA    61
SAS    61
SAU    61
SDN    61
SEN    61
SGP    61
SLB    61
SLE    61
SLV    61
SMR    61
SOM    61
SRB    61
SSA    61
SSD    61
SSF    61
SST    61
STP    61
SUR    61
SVK    61
SVN    61
SWE    61
SWZ    61
SXM    61
SYC    61
SYR    61
TCA    61
TCD    61
TEA    61
LCN    61
LCA    61
LBY    61
CSS    61
CAN    61
CEB    61
CHE    61
CHI    61
CHL    61
CHN    61
CIV    61
CMR    61
COD    61
COG    61
COL    61
COM    61
CPV    61
CRI    61
CUB    61
LBR    61
CUW    61
CYM    61
CYP    61
CZE    61
DEU    61
DJI    61
DMA    61
DNK    61
DOM    61
DZA    61
EAP    61
EAR    61
EAS    61
ECA    61
CAF    61
BWA    61
BTN    61
BRN    61
AFG    61
AFW    61
AGO    61
ALB    61
AND    61
ARB    61
ARE    61
ARG    61
ARM    61
ASM    61
ATG    61
AUS    61
AUT    61
AZE    61
BDI    61
BEL    61
BEN    61
BFA    61
BGD    61
BGR    61
BHR    61
BHS    61
BIH    61
BLR    61
BLZ    61
BMU    61
BOL    61
BRA    61
BRB    61
ECS    61
ECU    61
EGY    61
HTI    61
IBD    61
IBT    61
IDA    61
IDB    61
IDN    61
IDX    61
IMN    61
IND    61
INX    61
IRL    61
IRN    61
IRQ    61
ISL    61
ISR    61
ITA    61
JAM    61
JOR    61
JPN    61
KAZ    61
KEN    61
KGZ    61
KHM    61
KIR    61
KNA    61
KOR    61
KWT    61
LAC    61
LAO    61
LBN    61
HUN    61
HRV    61
EMU    61
HPC    61
ERI    61
ESP    61
EST    61
ETH    61
EUU    61
FCS    61
FIN    61
FJI    61
FRA    61
FRO    61
FSM    61
GAB    61
GBR    61
GEO    61
GHA    61
GIB    61
GIN    61
GMB    61
GNB    61
GNQ    61
GRC    61
GRD    61
GRL    61
GTM    61
GUM    61
GUY    61
HIC    61
HKG    61
HND    61
ZWE    61
Name: Country Code, dtype: int64

In [77]:
df = df.set_index(['Code', 'Year']).join(df_pop_area.set_index(['Country Code', 'Year'])).reset_index()

SyntaxError: invalid syntax (4085346474.py, line 1)

In [75]:
df["Code"].value_counts(dropna=False)

NaN         292751
GBR          16437
OWID_WRL     16437
CAN          16402
DEU          16395
POL          16387
USA          16387
FRA          16379
AUT          16369
BEL          16358
ESP          16357
NOR          16355
HUN          16354
SWE          16349
DNK          16344
NLD          16341
UKR          16335
UZB          16335
MDA          16335
TKM          16335
TJK          16335
RUS          16335
KAZ          16335
LVA          16335
LTU          16335
GEO          16335
EST          16335
BLR          16335
AZE          16335
ARM          16335
KGZ          16334
CHE          16329
ROU          16329
SVK          16327
ITA          16327
FIN          16327
CZE          16327
AUS          16327
TUR          16322
JPN          16319
IND          16318
PRT          16317
NZL          16309
GRC          16306
BGR          16306
ZAF          16303
PER          16303
ARG          16300
IDN          16298
MEX          16296
MYS          16296
VNM          16295
CHL          16292
BIH          16291
HRV          16291
TWN          16291
SVN          16291
SRB          16291
MNE          16291
MKD          16291
CHN          16286
BRA          16286
ZWE          16284
KOR          16278
TTO          16278
PRK          16277
IRN          16277
PHL          16277
IRL          16276
VEN          16276
EGY          16276
NGA          16272
DZA          16271
ECU          16270
COD          16266
COL          16266
TUN          16259
MMR          16259
ABW          16259
BES          16259
CUW          16259
SXM          16259
IRQ          16259
MOZ          16259
BOL          16259
MAR          16259
ISR          16257
SYR          16256
URY          16255
LBN          16254
BHR          16254
BRN          16254
THA          16253
ALB          16253
SAU          16249
ISL          16248
BRB          16247
CUB          16245
GTM          16245
MDG          16243
HKG          16243
NIC          16243
LUX          16242
PAK          16241
ETH          16241
BGD          16241
KWT          16239
DOM          16239
PAN          16238
QAT          16238
YEM          16237
CYP          16237
MLT          16237
LKA          16237
LBY          16237
KEN          16237
SDN          16237
SGP          16237
GNQ          16237
SLV          16237
SSD          16237
MNG          16237
AFG          16237
CRI          16237
AGO          16237
BDI          16237
TON          16236
REU          16236
MWI          16236
NCL          16236
WSM          16236
NPL          16236
PNG          16236
PRY          16236
RWA          16236
TGO          16236
VCT          16236
UGA          16236
SLE          16236
MUS          16236
TZA          16236
SOM          16236
ZMB          16236
SUR          16236
SPM          16236
CMR          16236
MTQ          16236
GMB          16236
LCA          16236
BHS          16236
BMU          16236
CPV          16236
DJI          16236
FJI          16236
FRO          16236
GHA          16236
GLP          16236
BLZ          16236
GNB          16236
LBR          16236
GRL          16236
GUF          16236
GRD          16236
GUY          16236
HND          16236
HTI          16236
JAM          16236
JOR          16236
STP          16235
DMA          16235
SLB          16234
MAC          16232
KHM          16231
LAO          16231
PLW          16231
PYF          16231
ATG          16229
SEN          16229
BEN          16228
GIN          16228
GAB          16228
ARE          16228
NER          16228
COG          16228
CIV          16228
BFA          16228
TCD          16228
COM          16227
MRT          16227
MLI          16227
CAF          16227
KIR          15960
SWZ          15704
MSR          15694
VGB          15694
VUT          15694
SYC          15428
OMN          15163
NRU          15162
OWID_USS     14897
COK          13832
BTN          13566
NIU          13566
MDV          13300
BWA          13034
SHN          10906
PRI          10641
VIR          10640
LSO          10640
KNA          10640
GUM          10640
FLK          10640
ESH          10640
CYM          10640
ASM          10640
ANT          10374
ATA          10374
AND           8246
TUV           8246
TCA           8246
PSE           8246
LIE           8246
MYT           8246
AIA           8246
NAM           7980
FSM           7714
MHL           7714
ERI           7188
GIB           5586
OWID_KOS      5586
WLF           5320
TLS           5054
CXR           3724
OWID_SRM      3458
OWID_CZS      3192
OWID_YGS      2926
Name: Code, dtype: int64

### Rearrange Columns

In [48]:
cat_cols = ['Entity', 'Year', 'Code', 'Region', 'Income group', 'Lending category']
value_cols = list((set(df.columns) - set(cat_cols)) - {'Country Code'})

In [49]:
df = df[cat_cols + value_cols]

### Basic Analysis

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3841515 entries, 0 to 3841514
Data columns (total 35 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Entity                                               object
 1   Year                                                 float64
 2   Code                                                 object
 3   Region                                               object
 4   Income group                                         object
 5   Lending category                                     object
 6   prod of Electricity from solar (TWh)                 float64
 7   Coal Production - TWh                                float64
 8   Fossil fuels (% growth)                              float64
 9   Land area (sq. km)                                   float64
 10  Renewables (% electricity)                           float64
 11  Fossil fuels per capita (kWh)                        float64
 12  Geo Biomass Other - TWh                              float64
 13  Oil Consumption - TWh                                float64
 14  prod of Electricity from hydro (TWh)                 float64
 15  Oil Production - TWh                                 float64
 16  Entity_                                              object
 17  Renewables per capita (kWh - equivalent)             float64
 18  Population density (people per sq. km of land area)  float64
 19  Fossil fuels (TWh)                                   float64
 20  prod of Other renewables including bioenergy (TWh)   float64
 21  Annual change in primary energy consumption (%)      float64
 22  Oil (TWh, direct energy)                             float64
 23  Gas Production - TWh                                 float64
 24  Annual CO2 emissions                                 float64
 25  Solar Generation - TWh                               float64
 26  Per capita electricity (kWh)                         float64
 27  Coal Consumption - TWh                               float64
 28  Wind Generation - TWh                                float64
 29  Hydro Generation - TWh                               float64
 30  Fossil fuels (% equivalent primary energy)           float64
 31  Coal (TWh, direct energy)                            float64
 32  Gas (TWh, direct energy)                             float64
 33  prod of Electricity from wind (TWh)                  float64
 34  Gas Consumption - TWh                                float64
dtypes: float64(29), object(6)
memory usage: 1.0+ GB

In [51]:
df.describe()

,Year,prod of Electricity from solar (TWh),Coal Production - TWh,Fossil fuels (% growth),Land area (sq. km),Renewables (% electricity),Fossil fuels per capita (kWh),Geo Biomass Other - TWh,Oil Consumption - TWh,prod of Electricity from hydro (TWh),Oil Production - TWh,Renewables per capita (kWh - equivalent),Population density (people per sq. km of land area),Fossil fuels (TWh),prod of Other renewables including bioenergy (TWh),Annual change in primary energy consumption (%),"Oil (TWh, direct energy)",Gas Production - TWh,Annual CO2 emissions,Solar Generation - TWh,Per capita electricity (kWh),Coal Consumption - TWh,Wind Generation - TWh,Hydro Generation - TWh,Fossil fuels (% equivalent primary energy),"Coal (TWh, direct energy)","Gas (TWh, direct energy)",prod of Electricity from wind (TWh),Gas Consumption - TWh
count,3.841515e+06,1.866353e+06,362327.000000,1.110365e+06,3.692050e+06,1.481185e+06,1.115945e+06,1.103980e+06,1.122334e+06,1.884703e+06,665848.000000,1.122327e+06,3.451163e+06,1.115945e+06,1.849595e+06,2.466964e+06,15179.000000,655474.000000,3.717180e+06,1.103980e+06,1.524543e+06,1.115948e+06,1.103980e+06,1.122327e+06,1.115945e+06,15179.000000,15179.000000,1.866353e+06,1.122331e+06
mean,1.990628e+03,1.071659e+00,1896.652969,3.518550e+00,5.250017e+06,2.955008e+01,3.256567e+04,5.271232e+00,1.011397e+03,3.734946e+01,1702.987533,4.521244e+00,2.912407e+02,2.324555e+03,3.196876e+00,4.529973e+00,38418.751094,927.879854,4.702329e+08,1.801836e+00,3.889834e+03,7.492411e+02,5.355192e+00,6.128578e+01,8.641344e+01,28051.366649,20841.881473,3.180940e+00,5.562669e+02
std,1.818097e+01,1.794764e+01,6091.733428,2.724270e+01,1.509741e+07,3.208910e+01,3.447909e+04,3.296575e+01,4.682507e+03,2.362517e+02,5833.765701,1.334260e+01,1.501744e+03,1.096832e+04,2.559484e+01,3.188959e+01,9569.777345,3556.924536,2.167804e+09,2.330776e+01,5.077855e+03,3.740826e+03,5.427216e+01,3.037947e+02,1.555028e+01,9862.128852,9417.580614,4.182296e+01,2.738557e+03
min,1.750000e+03,0.000000e+00,0.339596,-4.959083e+01,2.027000e+00,0.000000e+00,1.558074e+02,0.000000e+00,9.738056e-02,0.000000e+00,0.000000,0.000000e+00,9.862452e-02,9.738055e-02,0.000000e+00,-9.500508e+01,0.000000,0.000000,3.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.280470e+01,97.000000,0.000000,0.000000e+00,0.000000e+00
25%,1.976000e+03,0.000000e+00,37.866039,-1.060772e+00,2.164000e+04,1.307330e+00,1.152530e+04,0.000000e+00,6.454946e+01,1.400000e-02,102.932060,1.683346e-01,1.946193e+01,1.164674e+02,0.000000e+00,-8.340657e-01,33660.101562,45.318611,6.885940e+05,0.000000e+00,5.642858e+02,3.265833e+00,0.000000e+00,4.206000e-01,8.080704e+01,19457.904297,13293.952148,0.000000e+00,8.645000e+00
50%,1.991000e+03,0.000000e+00,125.336014,2.466643e+00,1.998100e+05,1.599574e+01,2.540453e+04,3.900000e-02,1.425319e+02,1.520000e+00,344.388245,7.866168e-01,5.143897e+01,2.823127e+02,0.000000e+00,2.337921e+00,37960.613281,140.884018,6.938814e+06,0.000000e+00,2.427437e+03,3.254101e+01,0.000000e+00,4.582918e+00,9.176839e+01,25904.468750,20063.484375,0.000000e+00,5.259425e+01
75%,2.006000e+03,1.094000e-03,824.191345,6.335747e+00,1.260000e+06,5.312500e+01,4.025504e+04,1.299000e+00,4.147270e+02,9.815488e+00,1135.137939,2.784231e+00,1.282379e+02,9.501196e+02,3.500000e-01,6.949067e+00,46672.656250,399.114014,6.229507e+07,4.572000e-03,5.367686e+03,1.681976e+02,5.770781e-02,2.291953e+01,9.784651e+01,38069.035156,28161.105469,5.000000e-03,2.325982e+02
max,2.021000e+03,1.032501e+03,46550.605469,1.553105e+03,1.299870e+08,1.000000e+02,3.087042e+05,7.627827e+02,5.336863e+04,4.345990e+03,52181.949219,1.538834e+02,2.138860e+04,1.361315e+05,7.627827e+02,1.553105e+03,53368.628906,40368.828125,3.670250e+10,1.032501e+03,5.678160e+04,4.516121e+04,1.861940e+03,4.345990e+03,1.000000e+02,45161.207031,40374.605469,1.861940e+03,4.037461e+04

In [52]:
df.describe(include='object')

,Entity,Code,Region,Income group,Lending category,Entity_
count,3283267,3548764,3283267,3266991,2248104,3717180
unique,211,235,7,4,3,247
top,United Kingdom,GBR,Europe & Central Asia,High income,IBRD,United Kingdom
freq,16437,16437,838218,1155284,1119762,16436

### Data Clean-up

In [78]:
x = 'Entity'

#### Unify Entinty Names

In [79]:
df[x] = df[x].str.title()

In [80]:
df[x].value_counts()

United Kingdom                    16437
Canada                            16402
Germany                           16395
Poland                            16387
United States                     16387
France                            16379
Austria                           16369
Belgium                           16358
Spain                             16357
Norway                            16355
Hungary                           16354
Sweden                            16349
Denmark                           16344
Netherlands                       16341
Belarus                           16335
Tajikistan                        16335
Estonia                           16335
Uzbekistan                        16335
Ukraine                           16335
Turkmenistan                      16335
Russian Federation                16335
Moldova                           16335
Latvia                            16335
Lithuania                         16335
Kazakhstan                        16335
Azerbaijan                        16335
Georgia                           16335
Armenia                           16335
Kyrgyz Republic                   16334
Switzerland                       16329
Romania                           16329
Australia                         16327
Czech Republic                    16327
Finland                           16327
Italy                             16327
Slovak Republic                   16327
Türkiye                           16322
Japan                             16319
India                             16318
Portugal                          16317
New Zealand                       16309
Greece                            16306
Bulgaria                          16306
Peru                              16303
South Africa                      16303
Argentina                         16300
Indonesia                         16298
Mexico                            16296
Malaysia                          16296
Vietnam                           16295
Chile                             16292
Taiwan, China                     16291
Serbia                            16291
Slovenia                          16291
Montenegro                        16291
North Macedonia                   16291
Croatia                           16291
Bosnia And Herzegovina            16291
China                             16286
Brazil                            16286
Zimbabwe                          16284
Trinidad And Tobago               16278
Korea, Rep.                       16278
Iran, Islamic Rep.                16277
Philippines                       16277
Korea, Dem. People'S Rep.         16277
Venezuela, Rb                     16276
Egypt, Arab Rep.                  16276
Ireland                           16276
Nigeria                           16272
Algeria                           16271
Ecuador                           16270
Congo, Dem. Rep.                  16266
Colombia                          16266
Iraq                              16259
Myanmar                           16259
Morocco                           16259
Bolivia                           16259
Mozambique                        16259
Curaçao                           16259
Sint Maarten (Dutch Part)         16259
Aruba                             16259
Tunisia                           16259
Israel                            16257
Syrian Arab Republic              16256
Uruguay                           16255
Brunei Darussalam                 16254
Lebanon                           16254
Bahrain                           16254
Albania                           16253
Thailand                          16253
Saudi Arabia                      16249
Iceland                           16248
Barbados                          16247
Cuba                              16245
Guatemala                         16245
Nicaragua                         16243
Madagascar                        16243
Hong Kong Sar, China              16243
Luxembourg                        16242
Bangladesh                        16241
Pakistan                          16241
Ethiopia                          16241
Kuwait                            16239
Dominican Republic                16239
Panama                            16238
Qatar                             16238
Cyprus                            16237
Sri Lanka                         16237
Libya                             16237
Kenya                             16237
Sudan                             16237
Singapore                         16237
Equatorial Guinea                 16237
El Salvador                       16237
South Sudan                       16237
Mongolia                          16237
Malta                             16237
Costa Rica                        16237
Afghanistan                       16237
Angola                            16237
Yemen, Rep.                       16237
Burundi                           16237
Papua New Guinea                  16236
Zambia                            16236
Mauritius                         16236
Malawi                            16236
New Caledonia                     16236
Nepal                             16236
Rwanda                            16236
Paraguay                          16236
Togo                              16236
Samoa                             16236
Sierra Leone                      16236
St. Vincent And The Grenadines    16236
Somalia                           16236
Uganda                            16236
Tanzania                          16236
Suriname                          16236
Tonga                             16236
St. Lucia                         16236
Ghana                             16236
Bahamas, The                      16236
Belize                            16236
Bermuda                           16236
Cameroon                          16236
Liberia                           16236
Djibouti                          16236
Fiji                              16236
Faroe Islands                     16236
Cabo Verde                        16236
Gambia, The                       16236
Jordan                            16236
Grenada                           16236
Greenland                         16236
Guinea-Bissau                     16236
Guyana                            16236
Honduras                          16236
Haiti                             16236
Jamaica                           16236
São Tomé And Príncipe             16235
Dominica                          16235
Solomon Islands                   16234
Macao Sar, China                  16232
Cambodia                          16231
Lao Pdr                           16231
Palau                             16231
French Polynesia                  16231
Antigua And Barbuda               16229
Senegal                           16229
Congo, Rep.                       16228
Gabon                             16228
Chad                              16228
United Arab Emirates              16228
Niger                             16228
Guinea                            16228
Côte D’Ivoire                     16228
Benin                             16228
Burkina Faso                      16228
Central African Republic          16227
Comoros                           16227
Mali                              16227
Mauritania                        16227
Kiribati                          15960
Eswatini                          15704
British Virgin Islands            15694
Vanuatu                           15694
Seychelles                        15428
Oman                              15163
Nauru                             15162
Bhutan                            13566
Maldives                          13300
Botswana                          13034
Puerto Rico                       10641
American Samoa                    10640
Cayman Islands                    10640
Guam                              10640
St. Kitts And Nevis               10640
Lesotho                           10640
Virgin Islands (U.S.)             10640
Andorra                            8246
Liechtenstein                      8246
West Bank And Gaza                 8246
Turks And Caicos Islands           8246
Tuvalu                             8246
Namibia                            7980
Marshall Islands                   7714
Micronesia, Fed. Sts.              7714
Eritrea                            7188
Gibraltar                          5586
Timor-Leste                        5054
Name: Entity, dtype: int64

#### Create Entity Category Column

In [66]:
df[x].nunique()

247

In [67]:
continents = ['Asia', 'Africa', 'North America', 'South America', 'Europe', "Antarctica"]

countries_official_names = ['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'South Sudan', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']
other_countries = [
       'Antigua And Barbuda', 'Bolivia',
       'Bonaire Sint Eustatius And Saba', 'Bosnia And Herzegovina',
       'British Virgin Islands', 'Brunei', "Cote D'Ivoire", 'Curacao',
       'Czechia', 'Democratic Republic Of Congo', 'Eswatini',
       'Faeroe Islands', 'French Equatorial Africa', 'French West Africa',
       'Iran',
       'Kosovo',  'Laos', 'Leeward Islands',
       'Moldova',
       'North Korea', 'North Macedonia', 'Oceania', 'Palestine',
       'Panama Canal Zone', 'Reunion', 'Russia', 'Ryukyu Islands',
       'Saint Helena', 'Saint Kitts And Nevis',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Sao Tome And Principe', 'South Korea', 'St. Kitts-Nevis-Anguilla',
       'Syria', 'Taiwan', 'Tanzania', 'Timor', 'Trinidad And Tobago',
       'Turks And Caicos Islands',
       'Venezuela', 'Vietnam', 'Wallis And Futuna', 'Ussr',
       'Czechoslovakia', 'Falkland Islands', 'Netherlands Antilles',
       'Serbia And Montenegro', 'United States Virgin Islands',
       'Western Sahara', 'Yugoslavia',
       'Micronesia (Country)', 'Sint Maarten (Dutch Part)'
                  ]
countries = countries_official_names + other_countries

In [68]:
df[x]

0                United Kingdom
1                         World
2                        Europe
3          Europe (Excl. Eu-27)
4           European Union (28)
                   ...
3841510                     NaN
3841511                     NaN
3841512                     NaN
3841513                     NaN
3841514                     NaN
Name: Entity_, Length: 3841515, dtype: object

In [69]:
def assign_category_to_entity(s):

    if "(" in s:
        if "(Bp)" in s:
            return "Bp?"
        if "(Eia)" in s:
            return "Eia?"
        if "(Ember)" in s:
            return "Ember?"
        if s in countries:
            return "Country"
        else:
            return "Exlusive Regions"

    else:
        if s == "World":
            return "World"
        elif s in continents:
            return "Continent"
        elif s in countries:
            return "Country"
        elif "Income" in s:
            return "Income Level"
        else:
            return "Other"

In [70]:
df['Entity_Category'] = df[x].apply(assign_category_to_entity)

TypeError: argument of type 'float' is not iterable

In [34]:
df['Entity_Category'].value_counts()

Country             21830
Bp?                  1549
Exlusive Regions     1368
Eia?                 1040
Continent             994
Income Level          725
World                 272
Ember?                110
Other                  72
Name: Entity_Category, dtype: int64

In [35]:
df_entity_lookup = df[['Entity_Category', 'Entity', 'Code', 'Income group', 'Lending category']].drop_duplicates().sort_values(by='Entity_Category')

In [36]:
df_entity_lookup['Entity_Category'].value_counts()

Country             240
Eia?                 29
Bp?                  28
Continent             6
Exlusive Regions      6
Ember?                5
Income Level          4
Other                 2
World                 1
Name: Entity_Category, dtype: int64

In [37]:
df_entity_lookup.head()

,Entity_Category,Entity,Code,Income group,Lending category
15505,Bp?,Middle East (Bp),NaN,NaN,NaN
15448,Bp?,Middle Africa (Bp),NaN,NaN,NaN
19236,Bp?,Other Middle East (Bp),NaN,NaN,NaN
19190,Bp?,Other Middle Africa (Bp),NaN,NaN,NaN
19133,Bp?,Other Europe (Bp),NaN,NaN,NaN

In [38]:
df.head()

,Entity,Year,Code,Region,Income group,Lending category,Fossil fuels (% equivalent primary energy),Fossil fuels (% growth),Gas Production - TWh,Land area (sq. km),Unnamed: 0.1.1.1,Coal Consumption - TWh,Renewables per capita (kWh - equivalent),Wind Generation - TWh,prod of Other renewables including bioenergy (TWh),Fossil fuels per capita (kWh),Fossil fuels (TWh),Oil Production - TWh,Coal Production - TWh,Hydro Generation - TWh,Unnamed: 0.1.1,prod of Electricity from solar (TWh),prod of Electricity from hydro (TWh),Unnamed: 0.1,"Gas (TWh, direct energy)",Annual change in primary energy consumption (%),Geo Biomass Other - TWh,"Coal (TWh, direct energy)",Per capita electricity (kWh),Oil Consumption - TWh,Renewables (% electricity),Population density (people per sq. km of land area),Solar Generation - TWh,Gas Consumption - TWh,"Oil (TWh, direct energy)",Annual CO2 emissions,prod of Electricity from wind (TWh),Entity_Category
0,Afghanistan,1949,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14656.0,NaN,Country
1,Afghanistan,1950,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84272.0,NaN,Country
2,Afghanistan,1951,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91600.0,NaN,Country
3,Afghanistan,1952,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91600.0,NaN,Country
4,Afghanistan,1953,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106256.0,NaN,Country

## Save Tables

In [39]:
df.head()

,Entity,Year,Code,Region,Income group,Lending category,Fossil fuels (% equivalent primary energy),Fossil fuels (% growth),Gas Production - TWh,Land area (sq. km),Unnamed: 0.1.1.1,Coal Consumption - TWh,Renewables per capita (kWh - equivalent),Wind Generation - TWh,prod of Other renewables including bioenergy (TWh),Fossil fuels per capita (kWh),Fossil fuels (TWh),Oil Production - TWh,Coal Production - TWh,Hydro Generation - TWh,Unnamed: 0.1.1,prod of Electricity from solar (TWh),prod of Electricity from hydro (TWh),Unnamed: 0.1,"Gas (TWh, direct energy)",Annual change in primary energy consumption (%),Geo Biomass Other - TWh,"Coal (TWh, direct energy)",Per capita electricity (kWh),Oil Consumption - TWh,Renewables (% electricity),Population density (people per sq. km of land area),Solar Generation - TWh,Gas Consumption - TWh,"Oil (TWh, direct energy)",Annual CO2 emissions,prod of Electricity from wind (TWh),Entity_Category
0,Afghanistan,1949,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14656.0,NaN,Country
1,Afghanistan,1950,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84272.0,NaN,Country
2,Afghanistan,1951,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91600.0,NaN,Country
3,Afghanistan,1952,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91600.0,NaN,Country
4,Afghanistan,1953,AFG,South Asia,Low income,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106256.0,NaN,Country

In [40]:
df.to_csv('../data/silver_tables/yearly_values_per_entity.csv', index=False)

In [41]:
df_entity_lookup.to_csv('../data/silver_tables/entity_lookup.csv', index=False)