In [16]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [17]:
path = "C:/Users/hbuabdulla/Desktop/UN Big Data Hackathon/SDG - 17 Goals/Datasets/"
print(os.listdir(path)[1:-1])

['annual-co2-emissions-per-country.csv', 'annual-percentage-change-fossil-fuels.csv', 'change-energy-consumption.csv', 'fossil-fuel-consumption-by-fuel-type.csv', 'fossil-fuel-primary-energy.csv', 'fossil-fuel-production.csv', 'fossil-fuels-per-capita.csv', 'fossil-fuels-share-energy.csv', 'global-fossil-fuel-consumption.csv', 'modern-renewable-energy-consumption.csv', 'modern-renewable-prod.csv', 'per-capita-electricity-generation.csv', 'per-capita-renewables.csv', 'share-electricity-renewables.csv']

In [18]:
path = "C:/Users/hbuabdulla/Desktop/UN Big Data Hackathon/SDG - 17 Goals/Datasets/"
files_to_merge = [i for i in os.listdir(path)[1:-1]]
# df_sample = pd.read_csv(os.path.join(path, files_to_merge[1]))
# df_sample

df_original = pd.read_csv(os.path.join(path, files_to_merge[0]))
df_original = df_original[df_original["Code"].notnull()]

for i in range(len(files_to_merge[1:])):
    df = pd.read_csv(os.path.join(path, files_to_merge[i+1]))
    df = df[df["Code"].notnull()]
    df_original  = pd.merge(df_original, df, on=['Code','Year'], how = 'outer')
    print(df.shape)

(4255, 4)
(9354, 4)
(4299, 6)
(4270, 4)
(3549, 6)
(4270, 4)
(4270, 4)
(74, 6)
(4299, 7)
(7182, 7)
(5828, 4)
(4292, 4)
(5665, 4)

In [13]:
df_original.columns

Index(['Entity_x', 'Code', 'Year', 'Annual CO2 emissions', 'Entity_y',
       'Fossil fuels (% growth)', 'Entity_x',
       'Annual change in primary energy consumption (%)', 'Entity_y',
       'Gas Consumption - TWh', 'Coal Consumption - TWh',
       'Oil Consumption - TWh', 'Entity_x', 'Fossil fuels (TWh)', 'Entity_y',
       'Coal Production - TWh', 'Oil Production - TWh', 'Gas Production - TWh',
       'Entity_x', 'Fossil fuels per capita (kWh)', 'Entity_y',
       'Fossil fuels (% equivalent primary energy)', 'Entity_x',
       'Gas (TWh, direct energy)', 'Oil (TWh, direct energy)',
       'Coal (TWh, direct energy)', 'Entity_y', 'Geo Biomass Other - TWh',
       'Solar Generation - TWh', 'Wind Generation - TWh',
       'Hydro Generation - TWh', 'Entity_x',
       'prod of Electricity from wind (TWh)',
       'prod of Electricity from hydro (TWh)',
       'prod of Electricity from solar (TWh)',
       'prod of Other renewables including bioenergy (TWh)', 'Entity_y',
       'Per capita electricity (kWh)', 'Entity_x',
       'Renewables per capita (kWh - equivalent)', 'Entity_y',
       'Renewables (% electricity)'],
      dtype='object')

In [14]:
# df_combined=df_original.drop(columns=['Code_x','Code_y'])
df_combined.columns

NameError: name 'df_combined' is not defined

In [10]:
df_combined

,Entity,Year,Annual CO2 emissions,Fossil fuels (% growth)_x,Annual change in primary energy consumption (%)_x,Unnamed: 0,Fossil fuels (% growth)_y,Annual change in primary energy consumption (%)_y,Unnamed: 0.1,Fossil fuels (% growth)_x,...,Solar Generation - TWh_y,Wind Generation - TWh_y,Hydro Generation - TWh_y,prod of Electricity from wind (TWh)_y,prod of Electricity from hydro (TWh)_y,prod of Electricity from solar (TWh)_y,prod of Other renewables including bioenergy (TWh)_y,Per capita electricity (kWh)_y,Renewables per capita (kWh - equivalent)_y,Renewables (% electricity)_y
0,Afghanistan,1949,14656.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1950,84272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1951,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1952,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1953,106256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27955,Senegal,2021,NaN,NaN,NaN,13143.0,NaN,NaN,13143.0,NaN,...,NaN,NaN,NaN,0.02,0.36,0.36,0.10,327.077667,NaN,15.217391
27956,Tajikistan,2021,NaN,NaN,NaN,13167.0,NaN,NaN,13167.0,NaN,...,NaN,NaN,NaN,0.00,17.43,0.00,0.00,1957.932983,NaN,91.304352
27957,United States Virgin Islands,2020,NaN,NaN,NaN,13175.0,NaN,NaN,13175.0,NaN,...,NaN,NaN,NaN,0.00,0.00,0.01,0.00,6371.202148,NaN,1.562500
27958,Uruguay,2021,NaN,NaN,NaN,13177.0,NaN,NaN,13177.0,NaN,...,NaN,NaN,NaN,4.94,5.16,0.48,0.97,4462.585449,NaN,75.539566
27959,Western Sahara,2020,NaN,NaN,NaN,13179.0,NaN,NaN,13179.0,NaN,...,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.000000,NaN,NaN

In [19]:
df_original.to_csv('combined_dataset.csv')

In [ ]:
df_combined[df_combined['Entity']=='Algeria']['Year'].value_counts()

In [ ]:
region|country|......

In [ ]:
df_combined[df_combined['Entity']=='Algeria'][['Year','Gas Consumption - TWh']].plot(x='Year',y='Gas Consumption - TWh')