# Data Cleanup

### Import Packages

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from collections import OrderedDict
from datetime import datetime, date
from os import environ
import json

# Set ipython's max row display
pd.set_option('display.max_row', 1000)
# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

sns.set_style("darkgrid")
plt.rcParams['figure.figsize'] = [10, 5]

### Importing Dataset

### Global Variables

### Importing Dataset

In [3]:
read_name = "../data/bronze_tables/combined_dataset.csv"

df_original = pd.read_csv(read_name)

In [4]:
df_original.head()

,Unnamed: 0,Entity,Year,Annual CO2 emissions,Fossil fuels (% growth)_x,Annual change in primary energy consumption (%)_x,Unnamed: 0.1,Fossil fuels (% growth)_y,Annual change in primary energy consumption (%)_y,Unnamed: 0.1.1,Fossil fuels (% growth)_x.1,Annual change in primary energy consumption (%)_x.1,Unnamed: 0.1.1.1,Fossil fuels (% growth)_y.1,Annual change in primary energy consumption (%)_y.1,Gas Consumption - TWh_x,Coal Consumption - TWh_x,Oil Consumption - TWh_x,Fossil fuels (TWh)_x,Coal Production - TWh_x,Oil Production - TWh_x,Gas Production - TWh_x,Fossil fuels per capita (kWh)_x,Fossil fuels (% equivalent primary energy)_x,"Gas (TWh, direct energy)_x",...,Renewables per capita (kWh - equivalent)_x.1,Renewables (% electricity)_x.1,Gas Consumption - TWh_y.1,Coal Consumption - TWh_y.1,Oil Consumption - TWh_y.1,Fossil fuels (TWh)_y.1,Coal Production - TWh_y.1,Oil Production - TWh_y.1,Gas Production - TWh_y.1,Fossil fuels per capita (kWh)_y.1,Fossil fuels (% equivalent primary energy)_y.1,"Gas (TWh, direct energy)_y.1","Oil (TWh, direct energy)_y.1","Coal (TWh, direct energy)_y.1",Geo Biomass Other - TWh_y.1,Solar Generation - TWh_y.1,Wind Generation - TWh_y.1,Hydro Generation - TWh_y.1,prod of Electricity from wind (TWh)_y.1,prod of Electricity from hydro (TWh)_y.1,prod of Electricity from solar (TWh)_y.1,prod of Other renewables including bioenergy (TWh)_y.1,Per capita electricity (kWh)_y.1,Renewables per capita (kWh - equivalent)_y.1,Renewables (% electricity)_y.1
0,0,Afghanistan,1949,14656.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Afghanistan,1950,84272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afghanistan,1951,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Afghanistan,1952,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Afghanistan,1953,106256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
df_original = df_original[df_original.columns[1:]]

In [128]:
df = df_original.copy()

#### Drop Duplicate Columns

In [129]:
cols = list(df.columns)
unique_cols = {}

for col in cols:
    unique_cols[col] = col.split('_', 1)[0]

In [146]:
df = df.rename(columns = unique_cols)

In [148]:
df = df.loc[:,~df.columns.duplicated()]

### Basic Analysis

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27960 entries, 0 to 27959
Data columns (total 32 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Entity                                              27960 non-null  object
 1   Year                                                27960 non-null  int64
 2   Annual CO2 emissions                                24670 non-null  float64
 3   Fossil fuels (% growth)                             6034 non-null   float64
 4   Annual change in primary energy consumption (%)     12261 non-null  float64
 5   Unnamed: 0                                          13181 non-null  float64
 6   Unnamed: 0.1                                        13181 non-null  float64
 7   Unnamed: 0.1.1                                      13181 non-null  float64
 8   Gas Consumption - TWh                               6094 non-null   float64
 9   Coal Consumption - TWh                              6134 non-null   float64
 10  Oil Consumption - TWh                               6160 non-null   float64
 11  Fossil fuels (TWh)                                  6068 non-null   float64
 12  Coal Production - TWh                               2500 non-null   float64
 13  Oil Production - TWh                                4408 non-null   float64
 14  Gas Production - TWh                                4053 non-null   float64
 15  Fossil fuels per capita (kWh)                       4840 non-null   float64
 16  Fossil fuels (% equivalent primary energy)          6068 non-null   float64
 17  Gas (TWh, direct energy)                            74 non-null     float64
 18  Oil (TWh, direct energy)                            74 non-null     float64
 19  Coal (TWh, direct energy)                           74 non-null     float64
 20  Geo Biomass Other - TWh                             5948 non-null   float64
 21  Solar Generation - TWh                              5924 non-null   float64
 22  Wind Generation - TWh                               5939 non-null   float64
 23  Hydro Generation - TWh                              6153 non-null   float64
 24  prod of Electricity from wind (TWh)                 8953 non-null   float64
 25  prod of Electricity from hydro (TWh)                9170 non-null   float64
 26  prod of Electricity from solar (TWh)                8939 non-null   float64
 27  prod of Other renewables including bioenergy (TWh)  8899 non-null   float64
 28  Per capita electricity (kWh)                        6220 non-null   float64
 29  Renewables per capita (kWh - equivalent)            4862 non-null   float64
 30  Renewables (% electricity)                          7008 non-null   float64
 31  Entity_Category                                     27960 non-null  object
dtypes: float64(29), int64(1), object(2)
memory usage: 6.8+ MB

In [150]:
df.describe()

,Year,Annual CO2 emissions,Fossil fuels (% growth),Annual change in primary energy consumption (%),Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Gas Consumption - TWh,Coal Consumption - TWh,Oil Consumption - TWh,Fossil fuels (TWh),Coal Production - TWh,Oil Production - TWh,Gas Production - TWh,Fossil fuels per capita (kWh),Fossil fuels (% equivalent primary energy),"Gas (TWh, direct energy)","Oil (TWh, direct energy)","Coal (TWh, direct energy)",Geo Biomass Other - TWh,Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,prod of Electricity from wind (TWh),prod of Electricity from hydro (TWh),prod of Electricity from solar (TWh),prod of Other renewables including bioenergy (TWh),Per capita electricity (kWh),Renewables per capita (kWh - equivalent),Renewables (% electricity)
count,27960.000000,2.467000e+04,6034.000000,12261.000000,13181.000000,13181.000000,13181.000000,6094.000000,6134.000000,6160.000000,6068.000000,2500.000000,4408.000000,4053.000000,4840.000000,6068.000000,74.000000,74.000000,74.000000,5948.000000,5924.000000,5939.000000,6153.000000,8953.000000,9170.000000,8939.000000,8899.000000,6220.000000,4862.000000,7008.000000
mean,1958.997997,3.266583e+08,3.317557,4.125264,6590.000000,6590.000000,6590.000000,1228.198540,1625.004354,2228.388291,5136.950645,3274.685893,3466.583599,1775.709862,31653.758962,85.831892,16669.849590,30469.016364,23161.696104,12.445990,5.047541,13.805802,136.736280,12.191714,105.856874,4.423860,10.535739,3950.509462,4.339072,30.488270
std,52.198663,1.677027e+09,22.875763,27.879834,3805.171284,3805.171284,3805.171284,3413.741868,4907.816698,5840.259523,13737.030117,6908.166717,6955.447481,4042.829666,33092.712344,14.603942,12227.579351,17904.778196,13521.988256,45.803265,38.265463,81.229086,374.128795,81.726038,346.000705,37.610140,45.642700,5026.958829,12.693478,30.934145
min,1750.000000,3.400000e+01,-49.590828,-95.005081,0.000000,0.000000,0.000000,0.000000,0.000000,0.097381,0.097381,0.339596,0.000000,0.000000,155.807388,12.804697,0.000000,0.000000,97.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1934.000000,5.569280e+05,-0.531910,-0.349981,3295.000000,3295.000000,3295.000000,12.293094,4.537538,80.953899,149.484257,38.597149,100.963156,44.498001,10325.921631,80.509890,6995.105713,19688.894043,16180.420654,0.000000,0.000000,0.000000,1.389000,0.000000,0.100000,0.000000,0.000000,596.250275,0.208465,3.552361
50%,1973.000000,5.332958e+06,2.589911,2.460420,6590.000000,6590.000000,6590.000000,81.496605,46.895945,208.418251,418.682419,357.479385,467.141678,192.537277,25337.834961,90.139271,16082.451172,35453.982422,23494.454102,0.201000,0.000000,0.000000,10.712626,0.000000,3.565500,0.000000,0.020000,2502.079101,0.899160,18.145459
75%,1998.000000,4.815309e+07,5.987856,6.231642,9885.000000,9885.000000,9885.000000,429.343689,442.860115,999.276443,1808.173248,2806.387512,3527.187439,992.275024,40323.159180,96.528872,25554.728027,44337.702148,30863.200195,3.617000,0.016565,0.221320,59.555000,0.040000,28.667310,0.010000,1.333982,5627.821900,3.228757,53.127329
max,2021.000000,3.670250e+10,1553.104980,1553.104980,13180.000000,13180.000000,13180.000000,40374.605469,45161.207031,53368.628906,136131.468750,46550.605469,52181.949219,40368.828125,308704.218750,100.000015,40374.605469,53368.628906,45161.207031,762.782654,1032.501221,1861.939819,4345.990234,1861.939819,4345.990234,1032.501221,762.782654,56781.601560,153.883406,100.000000

In [151]:
df.describe(include='object')

                       Entity Entity_Category
count                   27960           27960
unique                    321               9
top     High-Income Countries         Country
freq                      272           21830

### Data Clean-up

In [152]:
x = 'Entity'

#### Unify Entinty Names

In [153]:
df[x] = df[x].str.title()

d:\Users\AbdulazizA5\AppData\Local\Temp\ipykernel_5756\1213623977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x] = df[x].str.title()

In [154]:
df[x].value_counts()

High-Income Countries                           272
United Kingdom                                  272
World                                           272
Europe                                          272
European Union (28)                             271
Europe (Excl. Eu-27)                            271
North America                                   237
Canada                                          237
North America (Excl. Usa)                       236
Germany                                         230
European Union (27)                             230
United States                                   222
Poland                                          222
France                                          214
Austria                                         204
Belgium                                         193
Spain                                           192
Europe (Excl. Eu-28)                            191
Norway                                          190
Hungary                                         189
Sweden                                          184
Denmark                                         179
Netherlands                                     176
Kazakhstan                                      170
Estonia                                         170
Latvia                                          170
Georgia                                         170
Turkmenistan                                    170
Ukraine                                         170
Lithuania                                       170
Moldova                                         170
Upper-Middle-Income Countries                   170
Tajikistan                                      170
Lower-Middle-Income Countries                   170
Uzbekistan                                      170
Azerbaijan                                      170
Asia                                            170
Belarus                                         170
Armenia                                         170
Russia                                          170
Kyrgyzstan                                      169
Asia (Excl. China & India)                      169
Switzerland                                     164
Romania                                         164
Czechia                                         162
Finland                                         162
Oceania                                         162
Italy                                           162
Australia                                       162
Slovakia                                        162
Turkey                                          157
Japan                                           154
India                                           153
Portugal                                        152
New Zealand                                     144
Bulgaria                                        141
Greece                                          141
Africa                                          138
Peru                                            138
South Africa                                    138
South America                                   138
Argentina                                       135
Indonesia                                       133
Malaysia                                        131
Mexico                                          131
Vietnam                                         130
Chile                                           127
North Macedonia                                 126
Montenegro                                      126
Serbia                                          126
Bosnia And Herzegovina                          126
Taiwan                                          126
Croatia                                         126
Slovenia                                        126
China                                           121
Brazil                                          121
Zimbabwe                                        119
South Korea                                     113
Low-Income Countries                            113
Trinidad And Tobago                             113
Iran                                            112
Philippines                                     112
North Korea                                     112
Ireland                                         111
Egypt                                           111
Venezuela                                       111
Nigeria                                         107
Algeria                                         106
Ecuador                                         105
Colombia                                        101
Democratic Republic Of Congo                    101
Iraq                                             94
Tunisia                                          94
Bolivia                                          94
Bonaire Sint Eustatius And Saba                  94
Sint Maarten (Dutch Part)                        94
Curacao                                          94
Morocco                                          94
Mozambique                                       94
Myanmar                                          94
Aruba                                            94
Israel                                           92
Syria                                            91
Uruguay                                          90
Lebanon                                          89
Bahrain                                          89
Brunei                                           89
Thailand                                         88
Albania                                          88
Saudi Arabia                                     84
Iceland                                          83
Barbados                                         82
Cuba                                             80
Guatemala                                        80
Hong Kong                                        78
Madagascar                                       78
Nicaragua                                        78
Luxembourg                                       77
Pakistan                                         76
Ethiopia                                         76
Bangladesh                                       76
Kuwait                                           74
Dominican Republic                               74
Qatar                                            73
Panama                                           73
Malta                                            72
South Sudan                                      72
Mongolia                                         72
Sudan                                            72
Singapore                                        72
Sri Lanka                                        72
Afghanistan                                      72
Equatorial Guinea                                72
Burundi                                          72
Libya                                            72
El Salvador                                      72
Cyprus                                           72
Angola                                           72
Kenya                                            72
Costa Rica                                       72
Yemen                                            72
Djibouti                                         71
Uganda                                           71
Cape Verde                                       71
Papua New Guinea                                 71
Paraguay                                         71
Cameroon                                         71
Belize                                           71
Bermuda                                          71
Faeroe Islands                                   71
Bahamas                                          71
Reunion                                          71
Rwanda                                           71
Zambia                                           71
Sierra Leone                                     71
Saint Lucia                                      71
Saint Pierre And Miquelon                        71
Saint Vincent And The Grenadines                 71
Samoa                                            71
Somalia                                          71
Honduras                                         71
Fiji                                             71
Grenada                                          71
Mauritius                                        71
Jamaica                                          71
Tanzania                                         71
International Transport                          71
Suriname                                         71
Haiti                                            71
Guyana                                           71
Guinea-Bissau                                    71
French Guiana                                    71
Togo                                             71
Guadeloupe                                       71
Greenland                                        71
Martinique                                       71
Liberia                                          71
Ghana                                            71
Malawi                                           71
Gambia                                           71
Nepal                                            71
Tonga                                            71
New Caledonia                                    71
Jordan                                           71
Dominica                                         70
Sao Tome And Principe                            70
Solomon Islands                                  69
Eswatini                                         69
Macao                                            67
Laos                                             66
Palau                                            66
French Polynesia                                 66
Cambodia                                         66
Antigua And Barbuda                              64
Senegal                                          64
United Arab Emirates                             63
Niger                                            63
Benin                                            63
Burkina Faso                                     63
Congo                                            63
Gabon                                            63
Guinea                                           63
Chad                                             63
Cote D'Ivoire                                    63
Mali                                             62
Comoros                                          62
Central African Republic                         62
Mauritania                                       62
Kiribati                                         60
Vanuatu                                          59
Montserrat                                       59
British Virgin Islands                           59
Oman                                             58
Seychelles                                       58
Other Northern Africa (Bp)                       57
Other Caribbean (Bp)                             57
Cis (Bp)                                         57
Other Africa (Bp)                                57
Central America (Bp)                             57
Oecd (Bp)                                        57
Eastern Africa (Bp)                              57
Africa (Bp)                                      57
Other Europe (Bp)                                57
Europe (Bp)                                      57
Middle Africa (Bp)                               57
Asia Pacific (Bp)                                57
Middle East (Bp)                                 57
Other Middle East (Bp)                           57
Other Asia Pacific (Bp)                          57
Other South And Central America (Bp)             57
Other South America (Bp)                         57
Western Africa (Bp)                              57
Total Opec (Bp)                                  57
Total Non-Opec (Bp)                              57
Other Western Africa (Bp)                        57
Nauru                                            57
Non-Oecd (Bp)                                    57
South And Central America (Bp)                   57
North America (Bp)                               57
Other Southern Africa (Bp)                       57
Ussr                                             57
Cook Islands                                     52
Bhutan                                           51
Niue                                             51
Maldives                                         50
Botswana                                         49
Other Middle Africa (Bp)                         46
Other Eastern Africa (Bp)                        41
Saint Helena                                     41
Puerto Rico                                      41
American Samoa                                   40
Cayman Islands                                   40
Western Sahara                                   40
United States Virgin Islands                     40
Falkland Islands                                 40
Guam                                             40
Saint Kitts And Nevis                            40
Lesotho                                          40
Non-Oecd (Eia)                                   39
Netherlands Antilles                             39
Middle East (Eia)                                39
Mexico, Chile, And Other Oecd Americas (Eia)     39
Ieo Oecd - Europe (Eia)                          39
Ieo - Middle East (Eia)                          39
Ieo - Africa (Eia)                               39
Oecd - Asia And Oceania (Eia)                    39
Oecd - Europe (Eia)                              39
Oecd - North America (Eia)                       39
European Union (Eia)                             39
Eurasia (Eia)                                    39
Opec (Eia)                                       39
Opec - Africa (Eia)                              39
Central & South America (Eia)                    39
Australia And New Zealand (Eia)                  39
Non-Opec (Eia)                                   39
Asia & Oceania (Eia)                             39
Opec - South America (Eia)                       39
Other Non-Oecd - America (Eia)                   39
Other Non-Oecd - Asia (Eia)                      39
Other Non-Oecd - Europe And Eurasia (Eia)        39
Persian Gulf (Eia)                               39
South Korea And Other Oecd Asia (Eia)            39
U.S. Pacific Islands (Eia)                       39
Wake Island (Eia)                                39
Antarctica                                       39
Oecd (Eia)                                       39
Other Cis (Bp)                                   37
Eritrea                                          33
Mayotte                                          31
Palestine                                        31
Andorra                                          31
Anguilla                                         31
Liechtenstein                                    31
Turks And Caicos Islands                         31
Tuvalu                                           31
Panama Canal Zone                                30
Namibia                                          30
Micronesia (Country)                             29
Marshall Islands                                 29
St. Kitts-Nevis-Anguilla                         24
Oecd (Ember)                                     22
Middle East (Ember)                              22
Latin America And Caribbean (Ember)              22
G7 (Ember)                                       22
G20 (Ember)                                      22
Kosovo                                           21
Gibraltar                                        21
Ryukyu Islands                                   21
Wallis And Futuna                                20
Timor                                            19
Christmas Island                                 14
Serbia And Montenegro                            13
Czechoslovakia                                   12
Yugoslavia                                       11
West Germany (Eia)                               10
East Germany (Eia)                               10
French Equatorial Africa                          9
French West Africa                                9
Leeward Islands                                   7
Hawaiian Trade Zone (Eia)                         6
Kuwaiti Oil Fires                                 1
Name: Entity, dtype: int64

#### Create Entity Category Column

In [155]:
df[x].nunique()

321

In [156]:
continents = ['Asia', 'Africa', 'North America', 'South America', 'Europe', "Antarctica"]

countries_official_names = ['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'South Sudan', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']
other_countries = [
       'Antigua And Barbuda', 'Bolivia',
       'Bonaire Sint Eustatius And Saba', 'Bosnia And Herzegovina',
       'British Virgin Islands', 'Brunei', "Cote D'Ivoire", 'Curacao',
       'Czechia', 'Democratic Republic Of Congo', 'Eswatini',
       'Faeroe Islands', 'French Equatorial Africa', 'French West Africa',
       'Iran',
       'Kosovo',  'Laos', 'Leeward Islands',
       'Moldova',
       'North Korea', 'North Macedonia', 'Oceania', 'Palestine',
       'Panama Canal Zone', 'Reunion', 'Russia', 'Ryukyu Islands',
       'Saint Helena', 'Saint Kitts And Nevis',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Sao Tome And Principe', 'South Korea', 'St. Kitts-Nevis-Anguilla',
       'Syria', 'Taiwan', 'Tanzania', 'Timor', 'Trinidad And Tobago',
       'Turks And Caicos Islands',
       'Venezuela', 'Vietnam', 'Wallis And Futuna', 'Ussr',
       'Czechoslovakia', 'Falkland Islands', 'Netherlands Antilles',
       'Serbia And Montenegro', 'United States Virgin Islands',
       'Western Sahara', 'Yugoslavia',
       'Micronesia (Country)', 'Sint Maarten (Dutch Part)'
                  ]
countries = countries_official_names + other_countries

In [157]:
def assign_category_to_entity(s):

    if "(" in s:
        if "(Bp)" in s:
            return "Bp?"
        if "(Eia)" in s:
            return "Eia?"
        if "(Ember)" in s:
            return "Ember?"
        if s in countries:
            return "Country"
        else:
            return "Exlusive Regions"

    else:
        if s == "World":
            return "World"
        elif s in continents:
            return "Continent"
        elif s in countries:
            return "Country"
        elif "Income" in s:
            return "Income Level"
        else:
            return "Other"

In [158]:
df['Entity_Category'] = df[x].apply(assign_category_to_entity)

d:\Users\AbdulazizA5\AppData\Local\Temp\ipykernel_5756\1349448358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Entity_Category'] = df[x].apply(assign_category_to_entity)

In [159]:
df['Entity_Category'].value_counts()

Country             21830
Bp?                  1549
Exlusive Regions     1368
Eia?                 1040
Continent             994
Income Level          725
World                 272
Ember?                110
Other                  72
Name: Entity_Category, dtype: int64

In [160]:
df_entity_lookup = df[['Entity_Category', 'Entity']].drop_duplicates().sort_values(by='Entity_Category')

In [161]:
df_entity_lookup['Entity_Category'].value_counts()

Country             240
Eia?                 29
Bp?                  28
Continent             6
Exlusive Regions      6
Ember?                5
Income Level          4
Other                 2
World                 1
Name: Entity_Category, dtype: int64

In [163]:
df.head()

,Entity,Year,Annual CO2 emissions,Fossil fuels (% growth),Annual change in primary energy consumption (%),Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Gas Consumption - TWh,Coal Consumption - TWh,Oil Consumption - TWh,Fossil fuels (TWh),Coal Production - TWh,Oil Production - TWh,Gas Production - TWh,Fossil fuels per capita (kWh),Fossil fuels (% equivalent primary energy),"Gas (TWh, direct energy)","Oil (TWh, direct energy)","Coal (TWh, direct energy)",Geo Biomass Other - TWh,Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,prod of Electricity from wind (TWh),prod of Electricity from hydro (TWh),prod of Electricity from solar (TWh),prod of Other renewables including bioenergy (TWh),Per capita electricity (kWh),Renewables per capita (kWh - equivalent),Renewables (% electricity),Entity_Category
0,Afghanistan,1949,14656.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Country
1,Afghanistan,1950,84272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Country
2,Afghanistan,1951,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Country
3,Afghanistan,1952,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Country
4,Afghanistan,1953,106256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Country

## Save Tables

In [164]:
label_columns = ['Entity_Category', 'Entity', 'Year']
value_columns = list(df.columns[2:-1])

df = df[label_columns+value_columns]

In [165]:
df.head()

,Entity_Category,Entity,Year,Annual CO2 emissions,Fossil fuels (% growth),Annual change in primary energy consumption (%),Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Gas Consumption - TWh,Coal Consumption - TWh,Oil Consumption - TWh,Fossil fuels (TWh),Coal Production - TWh,Oil Production - TWh,Gas Production - TWh,Fossil fuels per capita (kWh),Fossil fuels (% equivalent primary energy),"Gas (TWh, direct energy)","Oil (TWh, direct energy)","Coal (TWh, direct energy)",Geo Biomass Other - TWh,Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,prod of Electricity from wind (TWh),prod of Electricity from hydro (TWh),prod of Electricity from solar (TWh),prod of Other renewables including bioenergy (TWh),Per capita electricity (kWh),Renewables per capita (kWh - equivalent),Renewables (% electricity)
0,Country,Afghanistan,1949,14656.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,Afghanistan,1950,84272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country,Afghanistan,1951,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Afghanistan,1952,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Afghanistan,1953,106256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
df.to_csv('./data/silver/yearly_values_per_entity.csv', index=False)

In [167]:
df_entity_lookup.to_csv('./data/silver/entity_lookup.csv', index=False)