# Foreacasting - Metric Per Entity

#### Version 1.0

### TODO

- Read aggreated data
- Forecast 30 years for metric per entity

### Observations

## Setup

### Import Packages

In [9]:
import scipy
from datetime import datetime, date
from pprint import pprint
from collections import OrderedDict
import os

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
# import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

from prophet import Prophet

# Set ipython's max row display
# pd.set_option('display.max_row', 1000)
# Set iPython's max column width
pd.set_option('display.max_columns', 50)

# sns.set_style("darkgrid")
plt.rcParams['figure.figsize'] = [20, 10]

import warnings
warnings.filterwarnings('ignore')
import logging
logger = logging.getLogger('cmdstanpy')
logger.addHandler(logging.NullHandler())
logger.propagate = False
logger.setLevel(logging.CRITICAL)

### Functions

In [10]:
def masked_heatmap():
    mask = np.zeros_like(corr)
    mask[np.triu_indices_from(mask)] = True
    fig,ax = plt.subplots()
    sns.heatmap(corr,center = 0, fmt = ".3f", square = True, annot= True, mask=mask)

## Global Variables

#### Dataset Parameters

In [11]:
file_name = '../data/silver_tables/yearly_values_per_entity.csv'

year_range = [1960, 2022]
entity_category = 'Country'

forecast_horizon = 30

In [12]:
index_columns = [
    'Entity',
    'Code',
    'Year',
]
forecase_columns = [
    'Annual CO2 emissions',
    #'Annual change in primary energy consumption (%)',
    # 'Per capita electricity (kWh)',
    'Fossil fuels per capita (kWh)',
    # 'Fossil fuels (% equivalent primary energy)',
    # 'Renewables per capita (kWh - equivalent)', 'Renewables (% electricity)',
    # 'Solar Generation - TWh', 'prod of Electricity from solar (TWh)',
]

## Data Prep

In [13]:
df_original = pd.read_csv(file_name)

In [14]:
df_original = df_original.loc[
    (df_original['Year'] > year_range[0])
    & (df_original['Year'] < year_range[1])
    & (df_original['Entity_Category'] == entity_category)
][[*index_columns,*forecase_columns]]

In [15]:
df_original.head(2)

   Entity Code  Year  Annual CO2 emissions  Fossil fuels per capita (kWh)
34  Aruba  ABW  1961              645553.0                            NaN
35  Aruba  ABW  1962              708942.0                            NaN

In [16]:
df_original['Year'] = pd.to_datetime(df_original['Year'], format='%Y')

### Create Per Country Dataframes

In [17]:
x = 'Year'
y = 'Annual CO2 emissions'

In [18]:
entity_dfs_dict = {}

for entity in df_original['Entity'].unique():
    entity_dfs_dict[entity] = df_original.loc[df_original['Entity'] == entity][[x, y]]
    entity_dfs_dict[entity].columns = ['ds', 'y']

In [19]:
entity_dfs_dict[entity].head()

              ds          y
21818 1961-01-01  5061263.0
21819 1962-01-01  4888959.0
21820 1963-01-01  4700377.0
21821 1964-01-01  4469069.0
21822 1965-01-01  5209198.0

## Forecast Generation

In [20]:
def create_predict_df_for_entity(entity_name):
    df = entity_dfs_dict[entity_name]
    
    m = Prophet(
        yearly_seasonality='auto',
        weekly_seasonality=False,
        daily_seasonality=False,
    )
    m.fit(df)
    
    future = m.make_future_dataframe(periods=forecast_horizon, freq='Y')
    forecast = m.predict(future)
    
    df = df.set_index('ds').join(forecast.set_index('ds')).reset_index()
    df['Entity'] = entity_name
    
    return df

In [21]:
def create_pred_df(entity_dfs_dict):
    all_pred_df = pd.DataFrame()

    try:
        for entity_name in entity_dfs_dict:
            print(f"Forecasting for {entity_name} done")
            
            try:
                df = create_predict_df_for_entity(entity_name)    
            except ValueError:
                print(f'Not enough observations for entity {entity_name} for forecasting')
                df = pd.DataFrame()

            all_pred_df = pd.concat([all_pred_df, df])
        return all_pred_df
    
    except KeyboardInterrupt:
        return all_pred_df

In [22]:
all_entities_pred_df = create_pred_df(entity_dfs_dict)

Forecasting for Aruba done
Forecasting for Afghanistan done
Forecasting for Angola done
Forecasting for Anguilla done
Forecasting for Albania done
Forecasting for Andorra done
Forecasting for Netherlands Antilles done
Not enough observations for forecasting
Forecasting for United Arab Emirates done
Forecasting for Argentina done
Forecasting for Armenia done
Forecasting for American Samoa done
Not enough observations for forecasting
Forecasting for Antigua And Barbuda done
Forecasting for Australia done
Forecasting for Austria done
Forecasting for Azerbaijan done
Forecasting for Burundi done
Forecasting for Belgium done
Forecasting for Benin done
Forecasting for Bonaire Sint Eustatius And Saba done
Forecasting for Burkina Faso done
Forecasting for Bangladesh done
Forecasting for Bulgaria done
Forecasting for Bahrain done
Forecasting for Bahamas done
Forecasting for Bosnia And Herzegovina done
Forecasting for Belarus done
Forecasting for Belize done
Forecasting for Bermuda done
Forecasting for Bolivia done
Forecasting for Brazil done
Forecasting for Barbados done
Forecasting for Brunei done
Forecasting for Bhutan done
Forecasting for Botswana done
Forecasting for Central African Republic done
Forecasting for Canada done
Forecasting for Switzerland done
Forecasting for Chile done
Forecasting for China done
Forecasting for Cote D'Ivoire done
Forecasting for Cameroon done
Forecasting for Democratic Republic Of Congo done
Forecasting for Congo done
Forecasting for Cook Islands done
Forecasting for Colombia done
Forecasting for Comoros done
Forecasting for Cape Verde done
Forecasting for Costa Rica done
Forecasting for Cuba done
Forecasting for Curacao done
Forecasting for Christmas Island done
Forecasting for Cayman Islands done
Not enough observations for forecasting
Forecasting for Cyprus done
Forecasting for Czechia done
Forecasting for Germany done
Forecasting for Djibouti done
Forecasting for Dominica done
Forecasting for Denmark done
Forecasting for Dominican Republic done
Forecasting for Algeria done
Forecasting for Ecuador done
Forecasting for Egypt done
Forecasting for Eritrea done
Forecasting for Western Sahara done
Not enough observations for forecasting
Forecasting for Spain done
Forecasting for Estonia done
Forecasting for Ethiopia done
Forecasting for Finland done
Forecasting for Fiji done
Forecasting for Falkland Islands done
Not enough observations for forecasting
Forecasting for France done
Forecasting for Faeroe Islands done
Forecasting for Micronesia (Country) done
Forecasting for Gabon done
Forecasting for United Kingdom done
Forecasting for Georgia done
Forecasting for Ghana done
Forecasting for Gibraltar done
Not enough observations for forecasting
Forecasting for Guinea done
Forecasting for Guadeloupe done
Forecasting for Gambia done
Forecasting for Guinea-Bissau done
Forecasting for Equatorial Guinea done
Forecasting for Greece done
Forecasting for Grenada done
Forecasting for Greenland done
Forecasting for Guatemala done
Forecasting for French Guiana done
Forecasting for Guam done
Not enough observations for forecasting
Forecasting for Guyana done
Forecasting for Hong Kong done
Forecasting for Honduras done
Forecasting for Croatia done
Forecasting for Haiti done
Forecasting for Hungary done
Forecasting for Indonesia done
Forecasting for India done
Forecasting for Ireland done
Forecasting for Iran done
Forecasting for Iraq done
Forecasting for Iceland done
Forecasting for Israel done
Forecasting for Italy done
Forecasting for Jamaica done
Forecasting for Jordan done
Forecasting for Japan done
Forecasting for Kazakhstan done
Forecasting for Kenya done
Forecasting for Kyrgyzstan done
Forecasting for Cambodia done
Forecasting for Kiribati done
Forecasting for Saint Kitts And Nevis done
Forecasting for South Korea done
Forecasting for Kuwait done
Forecasting for Laos done
Forecasting for Lebanon done
Forecasting for Liberia done
Forecasting for Libya done
Forecasting for Saint Lucia done
Forecasting for Liechtenstein done
Forecasting for Sri Lanka done
Forecasting for Lesotho done
Forecasting for Lithuania done
Forecasting for Luxembourg done
Forecasting for Latvia done
Forecasting for Macao done
Forecasting for Morocco done
Forecasting for Moldova done
Forecasting for Madagascar done
Forecasting for Maldives done
Forecasting for Mexico done
Forecasting for Marshall Islands done
Forecasting for North Macedonia done
Forecasting for Mali done
Forecasting for Malta done
Forecasting for Myanmar done
Forecasting for Montenegro done
Forecasting for Mongolia done
Forecasting for Mozambique done
Forecasting for Mauritania done
Forecasting for Montserrat done
Forecasting for Martinique done
Forecasting for Mauritius done
Forecasting for Malawi done
Forecasting for Malaysia done
Forecasting for Mayotte done
Forecasting for Namibia done
Forecasting for New Caledonia done
Forecasting for Niger done
Forecasting for Nigeria done
Forecasting for Nicaragua done
Forecasting for Niue done
Forecasting for Netherlands done
Forecasting for Norway done
Forecasting for Nepal done
Forecasting for Nauru done
Forecasting for New Zealand done
Forecasting for Oman done
Forecasting for Czechoslovakia done
Not enough observations for forecasting
Forecasting for Kosovo done
Forecasting for Serbia And Montenegro done
Not enough observations for forecasting
Forecasting for Ussr done
Not enough observations for forecasting
Forecasting for Yugoslavia done
Not enough observations for forecasting
Forecasting for Pakistan done
Forecasting for Panama done
Forecasting for Peru done
Forecasting for Philippines done
Forecasting for Palau done
Forecasting for Papua New Guinea done
Forecasting for Poland done
Forecasting for Puerto Rico done
Not enough observations for forecasting
Forecasting for North Korea done
Forecasting for Portugal done
Forecasting for Paraguay done
Forecasting for Palestine done
Forecasting for French Polynesia done
Forecasting for Qatar done
Forecasting for Reunion done
Forecasting for Romania done
Forecasting for Russia done
Forecasting for Rwanda done
Forecasting for Saudi Arabia done
Forecasting for Sudan done
Forecasting for Senegal done
Forecasting for Singapore done
Forecasting for Saint Helena done
Forecasting for Solomon Islands done
Forecasting for Sierra Leone done
Forecasting for El Salvador done
Forecasting for Somalia done
Forecasting for Saint Pierre And Miquelon done
Forecasting for Serbia done
Forecasting for South Sudan done
Forecasting for Sao Tome And Principe done
Forecasting for Suriname done
Forecasting for Slovakia done
Forecasting for Slovenia done
Forecasting for Sweden done
Forecasting for Eswatini done
Forecasting for Sint Maarten (Dutch Part) done
Forecasting for Seychelles done
Forecasting for Syria done
Forecasting for Turks And Caicos Islands done
Forecasting for Chad done
Forecasting for Togo done
Forecasting for Thailand done
Forecasting for Tajikistan done
Forecasting for Turkmenistan done
Forecasting for Timor done
Forecasting for Tonga done
Forecasting for Trinidad And Tobago done
Forecasting for Tunisia done
Forecasting for Turkey done
Forecasting for Tuvalu done
Forecasting for Taiwan done
Forecasting for Tanzania done
Forecasting for Uganda done
Forecasting for Ukraine done
Forecasting for Uruguay done
Forecasting for United States done
Forecasting for Uzbekistan done
Forecasting for Saint Vincent And The Grenadines done
Forecasting for Venezuela done
Forecasting for British Virgin Islands done
Forecasting for United States Virgin Islands done
Not enough observations for forecasting
Forecasting for Vietnam done
Forecasting for Vanuatu done
Forecasting for Wallis And Futuna done
Forecasting for Samoa done
Forecasting for Yemen done
Forecasting for South Africa done
Forecasting for Zambia done
Forecasting for Zimbabwe done

## Save Tables

In [23]:
all_entities_pred_df.head()

,ds,y,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat,Entity
0,1961-01-01,645553.0,348571.965280,-410566.903827,1.336181e+06,348571.965280,348571.965280,116000.995604,116000.995604,116000.995604,116000.995604,116000.995604,116000.995604,0.0,0.0,0.0,464572.960884,Aruba
1,1962-01-01,708942.0,370306.270320,-383487.773904,1.341374e+06,370306.270320,370306.270320,99154.731984,99154.731984,99154.731984,99154.731984,99154.731984,99154.731984,0.0,0.0,0.0,469461.002304,Aruba
2,1963-01-01,679088.0,392040.575359,-300708.331478,1.316585e+06,392040.575359,392040.575359,89222.225921,89222.225921,89222.225921,89222.225921,89222.225921,89222.225921,0.0,0.0,0.0,481262.801281,Aruba
3,1964-01-01,660275.0,413774.880414,-381631.424981,1.405229e+06,413774.880414,413774.880414,86215.622238,86215.622238,86215.622238,86215.622238,86215.622238,86215.622238,0.0,0.0,0.0,499990.502652,Aruba
4,1965-01-01,592387.0,435568.731510,-256463.054285,1.410202e+06,435568.731510,435568.731510,116000.995604,116000.995604,116000.995604,116000.995604,116000.995604,116000.995604,0.0,0.0,0.0,551569.727113,Aruba

In [24]:
all_entities_pred_df['Entity'].value_counts()

Chad                 61
Romania              61
Israel               61
Singapore            61
Norway               61
                     ..
Eritrea              27
Kosovo               21
Wallis And Futuna    20
Timor                19
Christmas Island     14
Name: Entity, Length: 220, dtype: int64

In [28]:
all_entities_pred_df.to_csv('../data/forecasts_tables/all_entities_forecasts.csv', index=False)